In [2]:
import pandas as pd


def convertervalores(df,colunas):
    for coluna in colunas:
        df[coluna] = df[coluna].str.replace(',','.').astype(float)
        df[coluna] =  df[coluna].round(2)
    df['Ano base'] = df['Ano base'].astype(int)
    df = df.drop_duplicates()
    return df

In [3]:
Producao_Bruta = pd.read_csv('../Bronze/Producao_Bruta.csv',encoding='latin')
colunas = [
    "Quantidade Produção - Minério ROM (t)",
    "Quantidade Contido",
    "Quantidade Venda (t)",
    "Valor Venda (R$)",
    "Quantidade Transformação / Consumo / Utilização (t)",
    "Valor Transformação / Consumo / Utilização nesta mina (R$)",
    "Quantidade Transferência para Transformação / Utilização / Consumo (t)",
    "Valor Transferência para Transformação / Utilização / Consumo (R$)"
]
Producao_Bruta = convertervalores(Producao_Bruta,colunas)
Producao_Bruta.head()

,Ano base,UF,Classe Substância,Substância Mineral,Quantidade Produção - Minério ROM (t),Quantidade Contido,Unidade de Medida - Contido,Indicação Contido,Quantidade Venda (t),Valor Venda (R$),Quantidade Transformação / Consumo / Utilização (t),Valor Transformação / Consumo / Utilização nesta mina (R$),Quantidade Transferência para Transformação / Utilização / Consumo (t),Valor Transferência para Transformação / Utilização / Consumo (R$)
0,2010,AC,Não-Metálicos,Areia,155024.50,0.0,-,NaN,127314.03,2400373.53,0.00,0.00,0.00,0.00
1,2010,AL,Não-Metálicos,Argilas,273110.20,0.0,-,NaN,0.00,0.00,86078.94,281936.58,183651.00,1438553.95
2,2010,AL,Não-Metálicos,Calcário,1006305.33,0.0,-,NaN,0.00,0.00,0.00,0.00,0.00,0.00
3,2010,AL,Não-Metálicos,Saibro,10859.12,0.0,-,NaN,10653.12,148295.27,0.04,0.04,0.04,0.04
4,2010,AL,Não-Metálicos,Rochas (Britadas) e Cascalho,808072.60,0.0,-,NaN,0.00,0.00,0.00,0.00,0.00,0.00

In [4]:
Producao_Beneficiada = pd.read_csv('../Bronze/Producao_Beneficiada.csv',encoding='latin')
colunas = [
    "Quantidade Produção",
    "Quantidade Contido",
    "Quantidade Venda",
    "Valor Venda (R$)",
    "Valor Consumo / Utilização na Usina (R$)",
    "Quantidade Transferência para Transformação / Utilização / Consumo",
    "Valor Transferência para Transformação / Utilização / Consumo (R$)"
]
Producao_Beneficiada = convertervalores(Producao_Beneficiada,colunas)
Producao_Beneficiada.head()

,Ano base,UF,Classe Substância,Substância Mineral,Quantidade Produção,Unidade de Medida - Produção,Quantidade Contido,Unidade de Medida - Contido,Indicação Contido,Quantidade Venda,Unidade de Medida - Venda,Valor Venda (R$),Quantidade Consumo/Utilização na Usina,Unidade de Medida - Consumo/Utilização na Usina,Valor Consumo / Utilização na Usina (R$),Quantidade Transferência para Transformação / Utilização / Consumo,Unidade de Medida - Transferência para Transformação / Utilização / Consumo,Valor Transferência para Transformação / Utilização / Consumo (R$)
0,2010,AL,Não-Metálicos,Calcário,1006305.29,t,0.0,-,NaN,161857.52,t,10316106.11,0,t,0.0,815338.00,t,6136774.05
1,2010,AL,Não-Metálicos,Rochas (Britadas) e Cascalho,855122.76,t,0.0,-,NaN,681758.76,t,24950312.87,53650,t,877370.0,119714.00,t,0.00
2,2010,AM,Metálicos,Columbita-Tantalita,6319.00,t,1922.3,t,Nb2O5,0.00,t,0.00,0,t,0.0,6227.52,t,33407046.27
3,2010,AM,Metálicos,Estanho,4284188.50,kg,2784170.0,kg,Sn,0.00,kg,0.00,0,kg,0.0,3178353.00,kg,49798593.51
4,2010,AM,Não-Metálicos,Rochas (Britadas) e Cascalho,347611.49,t,0.0,-,NaN,268349.49,t,17162304.83,5986,t,433319.0,7728.00,t,139560.00

In [5]:
Agua_Mineral_Producao = pd.read_csv('../Bronze/Agua_Mineral_Producao.csv',encoding='latin')
colunas = [
    "Quantidade (litros) Garrafão",
    "Quantidade (litros) Garrafa Plástica",
    "Quantidade (litros) Garrafa de Vidro",
    "Quantidade (litros) Copo",
    "Quantidade (litros) Outras Embalagens",
    "Valor (R$) Garrafão",
    "Valor (R$) Garrafa Plástica",
    "Valor (R$) Garrafa de Vidro",
    "Valor (R$) Copo",
    "Valor (R$) Outras Embalagens",
    "Quantidade (litros) Composição Produtos Industrializados",
    "Valor (R$) Composição Produtos Industrializados"
]
Agua_Mineral_Producao = convertervalores(Agua_Mineral_Producao,colunas)
Agua_Mineral_Producao.head()

,Ano base,UF,Classe Substância Mineral,Substância Mineral,Quantidade (litros) Garrafão,Quantidade (litros) Garrafa Plástica,Quantidade (litros) Garrafa de Vidro,Quantidade (litros) Copo,Quantidade (litros) Outras Embalagens,Valor (R$) Garrafão,Valor (R$) Garrafa Plástica,Valor (R$) Garrafa de Vidro,Valor (R$) Copo,Valor (R$) Outras Embalagens,Quantidade (litros) Composição Produtos Industrializados,Valor (R$) Composição Produtos Industrializados,Unidade de Medida
0,2010,AC,Água,Água,38315345.0,1309740.00,0.0,0.00,0.0,3023041.51,893805.05,0.0,0.00,0.0,0.000000e+00,0.00,l
1,2010,AL,Água,Água,114247245.0,40200141.39,0.0,6278109.20,0.0,17827642.93,32721765.87,0.0,3546006.93,0.0,0.000000e+00,0.00,l
2,2010,AM,Água,Água,123936416.0,19768794.20,0.0,297157.20,29610990.0,14123668.35,18215888.90,0.0,348790.90,8729111.7,3.258881e+07,13404.47,l
3,2010,AP,Água,Água,9218676.0,1132581.00,0.0,1981246.72,32586.0,608503.83,93490.15,0.0,129542.90,2172.4,0.000000e+00,0.00,l
4,2010,BA,Água,Água,367148670.0,73497479.32,0.0,9850320.00,0.0,29279716.74,61025058.46,0.0,5329528.41,0.0,1.086434e+09,24465852.29,l

In [6]:
Agua_Mineral_Producao.to_csv('../Prata/Agua_Mineral_Producao.csv',index=False,encoding='latin')
Producao_Beneficiada.to_csv('../Prata/Producao_Beneficiada.csv',index=False,encoding='latin')
Producao_Bruta.to_csv('../Prata/Producao_Bruta.csv',index=False,encoding='latin')